dt {color: #231651}
dd {color: #231651}
a:link {color: #ff8484;font-family: 'Lato', sans-serif; font-size: 12pt;}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}
.besch {font-family: 'Lato', sans-serif;font-style: italic; font-size: 10pt; color: #231651;}
img {
    max-width: 100%; width: 1000px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888; /* Afbeeldingen responsive maken */
}
body {background: linear-gradient(to right, #4DCCBD, #D6FFF6);}
h1 {font-family: 'Oswald', sans-serif; font-size: 36pt; color: #ffffff; text-shadow: 3px 3px #231651;text-transform: uppercase;}
h2 {font-family: 'Oswald', sans-serif; font-size: 24pt;color: #ffffff; text-shadow: 3px 3px #5394d5;}
h3 {font-family: 'Oswald', sans-serif; font-size: 18pt;color: #ffffff; text-shadow: 2px 2px #ff8484;}
    .positief{color: green; text-shadow: 2px 2px #ffffff;}
    .negatief{color: red; text-shadow: 2px 2px #ffffff;}
p {font-family: 'Lato', sans-serif; font-size: 12pt; color: #231651; line-height: 18pt}
li {font-family: 'Lato', sans-serif; font-size: 12pt; color: #231651;line-height: 18pt}
#logo {
    float: left;
    background-color: #ffffff;
    padding: 15px;
    max-width: 100%; width: 56px;
    -moz-box-shadow: 0px 0px 0px ;
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px ;
}
#nav {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;
}

.nav-item {
    float: left;
}
.item{
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #5394d5;
    text-align: center;
    padding: 31px 40px;
    text-decoration: none;
}
.item:hover {
    background-color: #231651;
}
.knop {
    background-color: #ffffff;
    border: 2px solid #231651;
    color: #5394d5;
    padding: 7px 50px;
    font-family: 'Lato', sans-serif; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.icon {
    max-width: 100%; width: 60px;
    float: left;
    padding: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
}
#kleur{
    width: 100%;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    }
    #k1{
    width: 20%; max-width: 80px;
    height: 80px;
    background-color: #5394d5;
    float: left;
    margin: 1px;
    }
    #k2{
    width: 20%; max-width: 80px;
    height: 80px;
    float: left;
    background-color: #D6FFF6;
    margin: 1px;
    }
    #k3{
    width: 20%; max-width: 80px;
    height: 80px;
    float: left;
    background-color: #231651;
    margin: 1px;
    }
    #k4{
    width: 20%; max-width: 80px;
    height: 80px;
    background-color: #4DCCBD;
    float: left;
    margin: 1px;
    }
    #k5{
    width: 20%; max-width: 80px;
    height: 80px;
    background-color: #FF8484;
    float: left;
    margin: 1px;
    }
/* Voeg jouw css hieraan toe */